<!DOCTYPE html>
<html>
<head>
	<title>New Gallery</title>
	<!-- //da prendere quello giusto -->

	<!-- <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/css/createGallery.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="../public/css/stylebrunner.css">

	<!-- // per gestire la ricerca fotografi -->
<script src="script.js"></script>
</head>
<body>

	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container ">
			<div class="navbar-header navbarCharacterColor">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="homepage.html" class="navbar-brand"><i class="fas fa-cloud-upload-alt"></i> FancyGallery</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sign up</a></li>
					<li><a href="#">Login</a></li>
			</ul>
			</div>
			</div>
	</nav>

	<br><br><br> -->

	<h1>Create New Event</h1>
  <form method="" action="">
		<div class="container_form">
			<div class="description">Event name:</div>
			<div class="input_field"><input type="text" name="eventName" placeholder="Event Name" required></div>
		</div>

		<div class="container_form">
			<div class="description">Event location:</div>
			<div class="input_field"><input type="text" name="Location" placeholder="Event Location" required></div>
		</div>

		<div class="container_form">
			<div class="description">Event description:</div>
			<div class="input_field"><textarea name="Comments" rows="3" cols="60">Enter your description.</textarea><br></div>
		</div>

		<div class="container_form">
			<div class="description">Select privatness:</div>
			<div class="input_field">	<input type="radio" name="Privatness" value="PUBLIC" checked> PUBLIC<br>
																<input type="radio" name="Privatness" value="HIDDEN"> HIDDEN<br></div>
		</div>

		<div class="container_form">
			<div class="description">Select photographers:<br>
				<input type="text" name="photographer_search_field" placeholder="Search your photographer" onchange='photographer_search("{._id}")'></div>
			<div class="input_field">
				<!-- you photographer -->
				<input type="checkbox" name="photographer{id}" value="{id}" checked> {name} <br>

				<!-- found photographer -->
				<h3> Found Photographers </h3>
				{#found_photographers}
          {>"partials/part_photographers_search" /}
          {:else}
          <p>No photographers found.</p>
        {/found_photographers}

				<!-- checked photographer -->
				<h3> Selected Photographers </h3>
				{#found_photographers_checked}
          {>"partials/part_photographers_checked" /}
          {:else}
          <p>No photographers selected.</p>
        {/found_photographers_checked}

			</div>
		</div>

		<div class="container_form">
        <div class="description">Upload the watermark:</div>
        <div class="input_field"><input type="file" name="WatermarkToUpload"></div>
    </div>

			<div class="container_form">
	        <div class="description">Upload the cover image:</div>
	        <div class="input_field"><input type="file" name="CoverImageToUpload"></div>
	     </div>

		<br>

		<input type="submit" name="new" value="Create!" />

	</form>
<!--
	<br><br><br>
	<div class="footer navbar-fixed-bottom">
	        <h5> all rights reserved @FancyGallery</h5>
	</div> -->
</body>
</html>
