<!DOCTYPE html>
<html>
<head>
	<title>New Gallery</title>
	<link rel='stylesheet' href='style.css'> //da prendere quello giusto
</head>
<body>
	<h1>Create New Event</h1>
  <form method="" action="">
		<div class="container_form">
			<div class="description">Event name:</div>
			<div class="input_field"><input type="text" name="eventName" placeholder="Event Name" required></div>
		</div>

		<div class="container_form">
			<div class="description">Event location:</div>
			<div class="input_field"><input type="text" name="Location" placeholder="Event Location" required></div>
		</div>

		<div class="container_form">
			<div class="description">Event description:</div>
			<div class="input_field"><textarea name="Comments" rows="3" cols="60">Enter your description.</textarea><br></div>
		</div>

		<div class="container_form">
			<div class="description">Select privatness:</div>
			<div class="input_field">	<input type="radio" name="Privatness" value="PUBLIC" checked> PUBLIC<br>
																<input type="radio" name="Privatness" value="HIDDEN"> HIDDEN<br></div>
		</div>

		<br>

		<input type="submit" name="new" value="Create!" />

	</form>
</body>
</html>


<!-- photofraphers query? -->
Select number of photographers:<select name="Photographer">
					<option value="1" selected>1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					</select><br>

<!-- watermark -->
Need a Watermark:<br>
<input type="checkbox" name="needWatermark" value="needWatermark"><br>
<!-- should be a toggle switch -->
Upload a Watermark:<br>
<input type="file" name="watermarkToUpload" id="watermarkToUpload"/><br>


		<!-- // altro -->


<h1>Image Upload Form</h1>
	<form method="" action="">
        Enter Event ID:<br>
				<input type="text" name="idEvent" placeholder="XXX"/><br> <!-- {eventid} -->
				Select Photographer:<select name="Photographer">
									<option value="phA" selected>A</option>
									<option value="phB">B</option>
									<option value="phC">C</option>
									</select><br>
        Select a Picture:<br>
				<input type="file" name="fileToUploadSelect" id="fileToUploadSelect"/><br>
        Take a Picture:<br>
				<input type="file" name="fileToUploadTake" id="fileToUploadTake"/><br>
				<br>
				<input type="submit" name="new" value="Click!" />
    </form>




		<form autocomplete="on">
      <div class="container_form">
        <div class="description">Name, surname:</div>
        <div class="input_field"><input type="text" value="Name, surname" required></div>
      </div>

      <div class="container_form">
        <div class="description">E-mail:</div>
        <div class="input_field"><input type="email" value="e-mail" required></div>
      </div>

      <div class="container_form">
        <div class="description">Address:</div>
        <div class="input_field"><textarea rows="3" required>Address</textarea></div>
      </div>

      <div class="container_form">
        <div class="description">Upload the file:</div>
        <div class="input_field"><input type="file" name="3D File" required></div>
      </div>

      <div class="container_form">
        <div class="description">Urgentness:</div>
        <div class="input_field"><select name="Urgentness" required>
          <option value="Not Urgent">Not Urgent</option>
          <option value="Urgent">Urgent</option>
        </select></div>
      </div>

      <div class="container_form">
        <div class="description">Number of copies:</div>
        <div class="input_field"><input type="number" max="10" min="0" value="1" required></div>
      </div>

      <br>

      <button id="button">Submit the order</button>

      </form>


	<script src="script.js"></script>




{#list}
          {>"partials/part_favorites" /}
          {:else}
          <p>No favorites found. <a href="/">Go to canvas! And be creative today!</a></p>
        {/list}
    </article>
