<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <!-- //da prendere quello giusto -->

    <!-- <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/css/createGallery.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/css/stylebrunner.css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">  -->

    <!-- // per gestire la ricerca fotografi -->
    <!-- <script src="script.js"></script> -->
  </head>
  <body>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container ">
			<div class="navbar-header navbarCharacterColor">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="homepage.html" class="navbar-brand"><i class="fas fa-cloud-upload-alt"></i> FancyGallery</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sign up</a></li>
					<li><a href="#">Login</a></li>
			</ul>
			</div>
			</div>
	</nav>

	<br><br><br> -->

    <div class="container">
      <div clas="jumbotron">
        <div class="container_form_big">
          <h1>LOGIN</h1>
          <hr />
          <form method="" action="">
            <div class="container_form">
              <div class="description">USERNAME:</div>
              <div class="input_field">
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="USERNAME"
                  required
                />
              </div>
            </div>

            <hr />

            <div class="container_form">
              <div class="description">PASSWORD :</div>
              <div class="input_field">
                <input
                  type="password"
                  name="password"
                  id="password"
                  minlength="8"
                  required
                />
              </div>
            </div>

            <hr />

            <br />

            <input id="button" type="submit" name="new" value="LOGIN" />
          </form>
        </div>
      </div>
    </div>
    <!--
	<br><br><br>
	<div class="footer navbar-fixed-bottom">
	        <h5> all rights reserved @FancyGallery</h5>
	</div> -->
  </body>
</html>
