<!DOCTYPE html>
<html>
  <head>
    <title>New Gallery</title>
   
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/css/stylebrunner.css"
    />

    <script src="../public/utility/fetch.js"></script>
    <script src="../public/entry_points/newevent.js"></script>
  </head>
  <body>
    <div class="container_form_big">
      <h1>CREATE NEW EVENT</h1>
      <form method="" action="">
        <div class="container_form">
          <div class="description">EVENT NAME:</div>
          <div class="input_field">
            <input
              type="text"
              name="eventName"
              placeholder="EVENT NAME"
              required
            />
          </div>
        </div>

        <hr />

        <div class="container_form">
          <div class="description">EVENT LOCATION:</div>
          <div class="input_field">
            <input
              type="text"
              name="Location"
              placeholder="EVENT LOCATION"
              required
            />
          </div>
        </div>

        <hr />

        <div class="container_form">
          <div class="description">EVENT DESCRIPTION:</div>
          <div class="input_field">
            <textarea name="Comments" rows="2" cols="60">
ENTER YOUR DESCRIPTION</textarea
            ><br />
          </div>
        </div>

        <hr />

        <div class="container_form">
          <div class="description">
            START DATE:
            <input
              type="date"
              name="startdate"
              placeholder="DD/MM/YYYY"
              required
            /><br />
            START TIME:
            <input type="time" name="starttime" placeholder="HH:MM" required />
          </div>

          <div class="input_field">
            END DATE:
            <input
              type="date"
              name="enddate"
              placeholder="DD/MM/YYYY"
              required
            /><br />
            END TIME:
            <input type="time" name="endtime" placeholder="HH:MM" required />
          </div>
        </div>

        <hr />

        <div class="container_form">
          <div class="description">SELECT PRIVATNESS:</div>
          <div class="input_field">
            <input type="radio" name="Privatness" value="PUBLIC" checked />
            PUBLIC<br />
            <input type="radio" name="Privatness" value="HIDDEN" /> HIDDEN<br />
          </div>
        </div>

        <hr />

        <div class="container_form">
          <div class="description">
            SELECT PHOTOGRAPHERS:<br /><br />
            <input
              id="search_input"
              type="text"
              name="photographer_search_field"
              placeholder="Search your photographer"
            />
            <!-- found photographer   ||  onchange='photographer_search("{._id}")' -->
            <h3>FOUND PHOTOGRAPHERS</h3>
            <input
              class="plus"
              type="image"
              src="../public/images/add.png"
              width="12"
              height="12"
            />
            NICOLA BRUNNER <br />
            <input
              class="plus"
              type="image"
              src="../public/images/add.png"
              width="12"
              height="12"
            />
            NICOLA LIVER <br />
            <input
              class="plus"
              type="image"
              src="../public/images/add.png"
              width="12"
              height="12"
            />
            NICOLA PONTIGGIA <br />
          </div>

          <div class="input_field">
            <!-- checked photographer -->
            <h3>SELECTED PHOTOGRAPHERS</h3>
            <input
              class="minus"
              type="image"
              src="../public/images/remove.png"
              width="12"
              height="12"
            />
            ANDREA GALLIDABINO <br />
            <input
			  class="minus 
			  "
              type="image"
              src="../public/images/remove.png"
              width="12"
              height="12"
            />
            CESARE PAUTASSO <br />
          </div>
        </div>

        <hr />

        <div class="container_form">
          <div class="description">UPLOAD THE WATERMARK:</div>
          <div class="input_field">
            <input type="file" name="WatermarkToUpload" />
          </div>
        </div>

        <hr />

        <div class="container_form">
          <div class="description">UPLOAD THE COVER IMAGE:</div>
          <div class="input_field">
            <input type="file" name="CoverImageToUpload" />
          </div>
        </div>

        <hr />

        <br />

        <input id="button" type="submit" name="new" value="CREATE GALLERY!" />
      </form>
    </div>
   
  </body>
</html>
