body {
  background-position: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: rgba(7, 7, 7, 0.931);
}

.content {
  text-align: center;
  padding-top: 18%;
  color: rgb(214, 242, 247);
}

#sign_in_btn {
  margin-top: 10px;
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

#log_out_btn {
  margin-top: 10px;
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

#log_out_btn:hover {
  color: #00ccff;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

#log_in_btn {
  margin-top: 10px;
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

#log_in_btn:hover {
  color: #00ccff;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

#sign_in_btn:hover {
  color: #00ccff;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

.navbar-inverse {
  background-color: rgb(0, 0, 0);
  box-shadow: #294777;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(214, 242, 247);
  font-family: "Montserrat", sans-serif;
}

.navbar-inverse .navbar-brand {
  color: rgb(214, 242, 247);
  font-family: "Montserrat", sans-serif;
}

.btn-default {
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: rgb(91, 224, 247);
  background-color: #ccff00;
  text-shadow: 4px 4px 4px black;
}

.active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #294777;
  background-color: #ccff00;
  text-shadow: 4px 4px 4px black;
}

.col-sm {
  padding: 40px;
}

#gallery div.event_box {
  margin-left: 100px;
  float: left;
  width: 250px;
}

#gallery div.event_box img {
  width: 100%;
  height: 180px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
  margin-left: 10px;
}

#gallery .event_place_label {
  color: grey;
  margin-left: 10px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

#gallery .event_name_label {
  margin-left: 5px;
  font-size: 10px;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

/* #gallery .event_btn_toGallery {
  margin-left: 55px;
} */

#gallery .event_timestamp_label {
  margin-left: 10px;
  font-size: 10px;
  color: grey;
}

/* ----------------Event ------------------------ */
#photGallery div.event_box {
  margin-left: 100px;
  float: left;
  width: 250px;
}

#photoGallery div.event_box img {
  width: 100%;
  height: 180px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
  margin-left: 10px;
}

#photoGallery .id_image {
  color: grey;
  margin-left: 10px;
  font-size: 10px;
  text-align: center;
}

#photoGallery .id_photographer {
  margin-left: 35px;
  font-size: 10px;
  color: grey;
  /* text-align: center; */
}

#photoGallery .image_timestamp_label {
  margin-left: 5px;
  font-size: 10px;
  color: grey;
  /* text-align: center; */
}

/* ---------------------------------------- */

.image-text {
  width: 100%;
  height: 50px;
  text-align-last: right;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-size: cover;
  background-position: center;
}

.image-text p {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 1px rgb(149, 149, 149);
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.jumbotron-fluid {
  background-image: url(../images/partyWall5_dark.jpg);
  background-size: cover;
  background-position: center;
  padding: 20%;
  color: #ccff00;
  text-shadow: 0 0 25px white;
}

.jumbotron-fluid .container .display-4 {
  text-align: center;
}

.jumbotron-fluid
  .container
  .display-4
  .input-group-lg
  .input-group-prepend
  .input {
  font-size: 1em;
  width: 10em;
  transition: all 3s;
  background-color: red;
}

.container .containerSearchButton {
  padding: 20px;
}

.setInput {
  padding: 30px;
}

.btn {
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

.btn:hover {
  color: #00ccff;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

#search_box {
  text-align: center;
}

#search_text_field {
  text-align: center;
  border-color: #ccff00;
  box-shadow: 0 0 25px white;
}

#search_btn {
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

#search_btn:hover {
  color: #00ccff;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

button {
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

button:hover {
  color: #00ccff;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.img-thumbnail {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.makeSpace {
  height: 50px;
  width: 5px;
}

.makeSpaceNav {
  width: 10px;
}

input:hover {
  background: white;
  color: white;
  border-color: transparent;
}

.container .page-header {
  font-size: 40px;
  color: #ccff00;
  font-weight: lighter;
  text-shadow: 0 0 10px #ccff00;
  font-family: "Montserrat", sans-serif;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}

html {
  height: 100%;
}

h1,
h3 {
  font-family: "Montserrat", sans-serif;
  
}

hr {
  border-top: 1px solid rgb(91, 224, 247);
  border-bottom: 1px solid rgb(91, 224, 247);
}

.image1 {
  background-image: url(../images/partyWall0.jpg);
}

.image2 {
  background-image: url(../images/partyWall1.jpg);
}

.image3 {
  background-image: url(../images/partyWall2.jpg);
}

.image4 {
  background-image: url(../images/partyWall0.jpg);
}

.image5 {
  background-image: url(../images/partyWall4.jpg);
}

.image6 {
  background-image: url(../images/partyWall5.jpg);
}

.image7 {
  background-image: url(../images/partyWall0.jpg);
}

.image8 {
  background-image: url(../images/partyWall1.jpg);
}

.image9 {
  background-image: url(../images/partyWall2.jpg);
}

.footer-bs {
  background-color: #000000;
  padding: 30px 30px;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}
.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.footer-bs .footer-nav h4 {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-nav ul.list li {
  padding: 2px 0px;
}
.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-social h4 {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li {
  padding: 5px 4px;
}
.footer-bs .footer-social a {
  color: rgba(255, 255, 255, 1);
}
.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 8px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0px;
}
.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
}

#buttonLoggedCreate {
  margin-top: 10px;
  height: 50px;
  width: 300px;
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

#buttonLoggedCreate:hover {
  color: #00ccff;
  height: 50px;
  width: 300px;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

#buttonLoggedFilter {
  margin-top: 10px;
  height: 50px;
  width: 300px;
  color: rgb(91, 224, 247);
  background-color: #00ccff;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

#buttonLoggedFilter:hover {
  color: #00ccff;
  height: 50px;
  width: 300px;
  background-color: #ccff00;
  box-shadow: 0 0 20px #ccff00;
  border-color: transparent;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccff00;
  box-shadow: 0 0 10px #ccff00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccff00;
  box-shadow: 0 0 10px #ccff00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card .card-img-top {
  margin-left: 20rem;
}

.card .card-body .btn {
  margin-left: 10rem;
}

.card .card-body .switch {
  margin-left: 23rem;
}

.container .page-header .event-description h1 {
  font-size: 40px;
  color: #ccff00;
  font-weight: lighter;
  text-shadow: 0 0 10px #ccff00;
  font-family: "Montserrat", sans-serif;
}

.container .page-header .event-description h3 {
  font-size: 20px;
  color: #00ccff;
  font-weight: lighter;
  text-shadow: 0 0 10px #00ccff;
  font-family: "Montserrat", sans-serif;
}
