/* ------------- General settings Desktop / mobile------------- */

/* -- Page elements -- */
body {
  margin: 0 auto;
  font-family: "Helvetica", "Segoe UI", Arial, serif;
  background-image: url("../images/party_dark.jpg");
  color: white;
}

.container_form_big {
  background-image: url("../images/black20.png");
  background-repeat: no-repeat;
  padding: 1em;
  margin: 1em;
}
/* -- Links -- */


/* -- Style Elements -- */
#button {
  border-radius: 1px;
  display: block;
  border-color: transparent;
  padding:20px 40px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
  overflow:hidden;
  background-color: #00ccff;
  text-align:center;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

#button:hover {
  background-color: #ccff00;
  color: #00ccff;
  box-shadow: 0 0 20px #ccff00;
}

#button_small {
  border-radius: 1px;
  border-color: transparent;
  padding:10px 20px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  overflow: hidden;
  background-color: #00ccff;
  text-align:center;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

#button_small:hover {
  background-color: #ccff00;
  color: #00ccff;
  box-shadow: 0 0 10px #ccff00;
}


/* .adbutton {
  background-size: 1px 1px;
  background-image:url("../images/add.png");
  background-repeat: no-repeat;
  border-color: transparent;
} */

.input_field [type="text"], .input_field [type="email"], .input_field textarea,
.input_field [type="file"], .input_field select, .input_field [type="number"],
.description [type="text"], .input_field [type="password"], .input_field [type="date"],
.input_field [type="time"], .description [type="time"], .description [type="date"] {
  background-color: transparent;
  font-size: 0.8em;
  border: none;
  outline: none;
  border-bottom: 2px solid #ff00cc;
  color: white;
}

.input_field [type=text]:focus, .description [type="text"]:focus, .input_field [type = "password"]:focus {
  border-bottom: 2px solid #ccff00;
}

hr {
  opacity: 0.2;
}

/* -- Fonts -- */
h1 {
  font-size: 40px;
  color: #ccff00;
  font-weight: lighter;
  text-shadow: 0 0 10px #ccff00;
}

h3 {
  font-size: 20px;
  color: #ccff00;
  font-weight: lighter;
  text-shadow: 0 0 10px #ccff00;
}

input, textarea, select {
  font-family: "Helvetica", "Segoe UI", Arial, serif;
}

.description img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* ------------- Mobile style settings ------------- */

@media only screen and (max-width: 767px) {

  .container {
    flex-direction: column;
  }

  .input_field {
    padding-bottom: 0.8em;
  }

  .input_field [type="text"], .input_field [type="email"], .input_field textarea,
  .input_field [type="file"], .input_field select, .input_field [type="number"], .description [type="text"] {
    width: 100%;
  }

  .header-bottom-left {
    position: absolute;
    bottom: 1%;
    left: 2%;
  }

}

/* ------------- Desktop style settings ------------- */

@media only screen and (min-width: 768px) {

  body {
    margin-left: 10%;
    margin-right: 10%;
  }

  .big_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .container {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .navigation, .sidebar {
    flex: 20%;
  }

  .main_content {
    flex: 60%;
  }

  .container_blog {
    display: flex;
    flex-direction: column;
  }

  .post {
    flex: auto;
  }

  .container_form {
    display: flex;
    flex-direction: row;
  }

  .description, .input_field {
    flex: 50%;
    margin-top: 1em;
  }

  .input_field [type="text"], .input_field [type="email"], .input_field textarea,
  .input_field [type="file"], .input_field select, .input_field [type="number"],
  .description [type="text"], .input_field [type="password"] {
    width: 75%;
  }

  .input_field [type="date"],
  .input_field [type="time"], .description [type="time"], .description [type="date"] {
    width: 50%;
  }

  #button {
    width: 90%;
  }

  #button_small {
    width: 75%;
  }
}
